[package]
name = "audit"
version = "0.1.0"
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
el_core = { path = "../core" }
serde = { version = "1", features = ["derive"] }
sha2 = "0.10"
