[package]
name = "adapters"
version = "0.1.0"
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
serde_json = "1"
serde = { version = "1", features = ["derive"] }
el_core = { path = "../core" }
el_contracts = { path = "../el_contracts" }
