[package]
name = "tools"
version = "0.1.0"
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
orderbook = { path = "../orderbook" }
serde_json = "1"
anyhow = "1"
el_core = { path = "../core" }
eventlog = { path = "../eventlog" }
