[package]
name = "api"
version = "0.1.0"
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
connectors = { path = "../connectors" }
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
anyhow = "1"
